#todos {
    position: relative;
}
#btn {
    padding: 0 10px;
    margin: 0 5px;
    font-size: 1em;
    font-weight: normal;
}
#form {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    background: #3333335e;
    color: #fff;
}
#form form {
    position: relative;
    background: #ccc;
    color: #222;
    padding: 40px;
    margin: auto;
    width: 80%;
    top: 30%;
}
.underline {
    text-decoration: line-through;
}
