body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  padding: 5px;
  background-color: lightslategrey;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  margin: 10px auto;
}
.weather-app h3 {
  font-size: 2rem;
  color: rgb(230, 106, 106);
  font-weight: 900;
}
.menu-button {
  display: flex;
  gap: 40px;
}
.Home {
  margin: auto;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  width: 70%;
}
.Home h1 {
  color: #6610f2;
  font-weight: 800;
}
.Home p {
  font-weight: 600;
  color: #fd7e14;
}