* {
  margin: 0;
  padding: 0;
}
.menu {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 300px;
  border: 1px solid #333;
}
.menu-lists{
  padding: 10px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.menu-lists li{
  font-weight: 600;
  text-transform: capitalize;
}
.menu-lists li:hover{
  color: blueviolet;
}