:root {
  --WHITE-COLOR: rgb(245, 245, 245);
  --ORANGE-COLOR: rgb(228, 55, 55);
  --YELLOW-COLOR: rgb(253, 178, 0);
  --BLACK-COLOR: rgb(0, 0, 33);
  --PURPLE-COLOR: rgb(138, 39, 230);
  --LIGHTBLUE-COLOR: rgb(64, 168, 253);
}

.second-section {
  height: 520px;
  text-align: center;
  padding: 40px 10px;
  background-color: var(--BLACK-COLOR);
}
.second-section span {
  color: var(--ORANGE-COLOR);
  font-weight: 700;
}
.second-section-heading {
  color: var(--YELLOW-COLOR);
  margin-top: 5px;
}

.box {
  background-color: var(--WHITE-COLOR);
  width: 80vw;
  height: 2px;
  margin: 56px auto;
  display: flex;
  justify-content: space-around;
}
.vertical {
  height: 40px;
  background-color: var(--WHITE-COLOR);
  width: 1px;
  margin: 0 100px;
}
.vertical img {
  position: relative;
  top: -25px;
  left: -20px;
  width: 40px;
}
.vertical h1,
.vertical p {
  width: 200px;
  position: relative;
  left: -100px;
  text-align: center;
}
.vertical h1 {
  color: var(--WHITE-COLOR);
}
.vertical p {
  color: var(--WHITE-COLOR);
}
.vertical b {
  color: var(--PURPLE-COLOR);
  font-weight: 600;
}
small {
  font-size: 1rem;
  color: var(--LIGHTBLUE-COLOR);
  font-weight: 600;
}
.vertical p a {
  font-weight: 400;
  color: var(--LIGHTBLUE-COLOR);
}
.vertical p a:hover {
  color: var(--ORANGE-COLOR);
}
